@model IEnumerable<CommonLayer.Models.ProductModel>

@{
    ViewData["Title"] = "Index";
}
 <link href="./css/IndexStyle.css" rel="stylesheet" />
 <h1>Index</h1>

<p>
    <a asp-action="AddEdit">Create New</a>
</p>
 
@* <form method="get" asp-action="Index">

    <p>
        Find by name: @Html.TextBox("search")
        <input type="submit" value="Search" />
    </p>

</form>
 *@

<table class="table" id="product-table">
    <thead>
        <tr>
          @*  <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
         
            <th>
                @Html.DisplayNameFor(model => model.Name)
                 
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
           
             <th>
                @Html.DisplayNameFor(model => model.ExpiryDate)
            </th> 
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
                   
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           @*  <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @item.ExpiryDate.ToString("yyyy-MM-dd")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
                    <td>
                       <img src="@Url.Content(item.Image)" />
                    </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @item.CreationDate.ToString("yyyy-MM-dd")
            </td>
            <td>
                <button type="button" class="Edit-style">@Html.ActionLink("Edit", "AddEdit", new {  code=item.Code  })</button>|

                        <button type="button" class="Delete-style" data-url="@Url.Action("Delete", new { id = item.ProductId })">Delete</button>
                    </td>
        </tr>
}
    </tbody>
</table>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        var deleteButtons = document.querySelectorAll('.Delete-style');

    deleteButtons.forEach(function (button) {
        button.addEventListener('click', function (e) {
            e.preventDefault();

            var deleteUrl = this.getAttribute('data-url');
            if (confirm("Are you sure you want to delete this item?")) {
                window.location.href = deleteUrl;
            }
        });
        });
    });
</script>
